Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-else-after-return,
  readability-isolate-declaration,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-member-init,
  readability-simplify-boolean-expr
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: none
