BasedOnStyle: LLVM
UseTab: Always
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8
BreakBeforeBraces: Linux
IndentCaseLabels: false
ColumnLimit: 80
SortIncludes: Never
PointerAlignment: Right
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
ReflowComments: false