build/
dist/
VCL/
CMorseRunner-cppcheck-build-dir/
CMorseRunner.cppcheck
*.pas
Main.dfm
MorseRunner.dpr
MorseRunner.ico
MorseRunner.res
MorseRunner16.bmp
MorseRunner32.bmp
Readme.txt
ScoreDlg.dfm
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.qt/
*_autogen/
*.o
*.d
*.a
*.so
*.wav
morserunner.ini
contest.wav